**/node_modules
**/.env.local

**/sonar-project.properties

.nx/cache/
.nx/workspace-data/
vite.config.*.timestamp*

**/coverage.out

# go bin, usually run with nx won't generate this, but if you accidentally run go build
/course
/course.exe
/cmd/course/course
/cmd/course/course.exe
/billing
/billing.exe
/cmd/billing/billing
/cmd/billing/billing.exe
/blog
/blog.exe
/cmd/blog/blog
/cmd/blog/blog.exe

# from dlv
**/__debug_bin
**/__debug_bin*

**/.openapi-generator/
deploy/
docs/
page/
scripts/
buf.*
**/eslint.config.mjs
**/.prettierignore
**/.prettierrc.ts
**/justfile
mise.*
.tool-versions
**/openapitools.json
**/README.md
/tmp/
AGENTS.md
.agents/
.editorconfig
skills-lock.json
.renovaterc.json
.nvim.lua
**/.env.mon
.vscode/
